go 1.21.6

use (
	./01-Hello
	./02-Variables
	./03-UserInput
	./04-Conversions
	./05-Time
	./06-Memory
	./07-Pointers
	./08-Array
	./09-Slices
	./10-Maps
	./11-Structs
	./12-If_Else
	./13-Switch_Case
	./14-Loops
	./15-Functions
	./16-Methods
	./17-Defer
	./18-Files
	./19-WebRequest
	./20-URL
	./21-WebServer
	./22-Json
	./23-Modules
	./24-API
	./25-Goroutine
	./26-RaceCondition
)
